body{
    display:flex;
    flex-direction:column;
    margin:0;
    font-family:sans-serif;
    font-size:110%;
    color:#333;
}
main{
    display:flex;
}
li{
    display:flex;
}
a{
    text-decoration: none;
    color: #333;
    font-family: "Proxima Nova",sans-serif
}
button{
    border: none;
    padding: 0;
    background-color: transparent;
}
/* HEADER */
header nav{
    display:flex;
    height: 7%;
    color: white;
    background-color: #F8B000;
    border-bottom: 2px solid #6EC8E5;
}
header .logo{
    flex:100%;
    display:flex;
}
header img{
    height:70%;
    width: 100%;
    align-self:center;
}
header .search{
    display:flex;
    background-color: #E7F1F5;
    height: 5%;
    width: 100%;
}
header .search input{
    align-self:center;
    height: 70%;
    width: 100%;
    border:none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 18px;
    padding: 11px 16px 11px 16px;
}
.icon-search {
    background-image: url(search.svg);
    background-color: #F5F9FB;
    background-repeat: no-repeat;
    display:none;
    height: 38%;
    width: 1.4em;
    padding: 0.5em;
    margin: auto;
    margin-right: 0.5em;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 1000ms ease-out;
}
.icon-search:hover{
    background-color: #FFFFFF;
}
[role="navigation"] > ul{
    display:none;
    margin:0;
}
[role="navigation"] > ul > li{
    padding: 0 1.5rem;
    border-left: 1px solid #e6a312;
    transition: background-color 1000ms ease-out;
}

[role="navigation"] > ul > li:hover {
    background-color: #B38004;
    cursor:pointer;
}
[role="navigation"] a{
    align-self:center;
    color: white;
}


/* SLIDER */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #000000;
  background: #f8b000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #000000;
  border: 0.2px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
.filter > ul > li:nth-child(2) > label {
    margin-left:0;
}

/* FILTER */
aside{
    display:none;
    flex: 25%;
    /* border-bottom: 2px solid #6EC8E5; */
    /* border-top: 2px solid #6EC8E5; */
    font-family:"Proxima Nova",sans-serif
}
aside > ul{
    -webkit-padding-start: 0;
    margin-left: 1.2em;
    margin-right: 1em;
}
aside li{
    margin-bottom: 0.4em;
}
aside h3{
    font-weight: 700;
    font-size: 100%;
}
aside a{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color:#6EC8E5;
}
aside label, aside input{
    margin-left:0.3em;
    cursor:pointer;
}

/* IMAGES */
#search-results{
    flex:100%;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
}
.container > .item-container{
    position: relative;
}
.container .list-item-image{
    width:100%;
}
.container .list-item-price{
    cursor:pointer;
    visibility:visible;
    position:absolute;
    right: 5%;
    bottom: 5%;
    width: 35%;
    color: white;
    font-size: 6vw;
    text-align:center;
    background: rgb(85, 36, 26);
    padding:0.2em;
    opacity: 0.9;
    border: rgb(131, 207, 238) solid 10px;
    border-radius: 15px 75px 20px;
}
.item-container:hover{
    opacity:0.5;
    cursor:pointer;
}

/* FOOTER */
footer{
    align-content: flex-end;
    background-color: #F5F5F5;
    /* border-top: 2px solid #6EC8E5; */
}
footer nav ul{
    display:flex;
    flex-direction:column;
    /* align-items: flex-end; */
    -webkit-padding-start: 0;
    /* margin-right: 10%; */
}
footer > nav:nth-child(1) > ul > li:nth-child(1){
    font-weight: bold;
}
footer > nav:nth-child(1) > ul > li{
    padding: 0.8em;
}
footer > nav:nth-child(1){
    display:flex;
    flex-direction:column;
    align-items: center;
}
footer > nav:nth-child(2){
    background-color: #EDEDED;
    color: #666;
    padding:1em;
    align-items:flex-end;
}
footer a{
    color:#3895D2;
}
footer a:hover{
    color:#275F89;   
}
/* PRODUCT DETAIL PAGE */
.product-container{
   display:flex;
   margin-top:0 !important;
}
.product-container img{
    flex: 20%;
}
.product-table{
    max-width: 50%;
    position:relative;
}
.product-details-container{
    display:flex;
    flex-direction:column;
    position:absolute;
    right: 5%;
    top: 5%;
}
.product-table label{
    background: #FFFFFF;
    opacity:0.9;
    padding:0.5em;
}
/* LOADER */
.loader{
    position:relative;
    margin-top:auto;
    align-items:center;
    background:url(loader.svg) no-repeat center center;
    width: 100px;
    height: 100px;
}
/* DESKTOP */
@media all and (min-width: 800px){
    [role="navigation"] > ul{
        display:flex;
    }
    header .logo{
        margin-left: 1em;
    }
    header img {
        width: 20%;
    }
    header .search input{
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }
    header .search input:focus{
        border: #41829c 0.1em solid;    
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        /* ILLEGAL STUFF? */
        outline:none;
    }
    .icon-search {
        display:flex;
    }
    aside{
        display:flex;
    }
    .container{
        flex-flow: row wrap;
        margin-top: 28px;
    }
    .container > .item-container{
        flex: 35%;
        border: 2px solid #6EC8E5;
        margin: 9px;
        margin-bottom:50px;
    }
    .container .list-item-price{
        visibility: visible;
        font-size: 1.7vw;
        border: rgb(131, 207, 238) solid 5px;
        width: 30%;
    }
    footer > nav:nth-child(1){
        flex-direction: row;
        justify-content:space-around;
    }
    footer > nav:nth-child(1) > ul > li {
        padding: 0.5em;
    }
    footer > nav:nth-child(2) > ul{
        display:flex;
        align-items: flex-end;
    }


}
@media all and (min-width: 1250px){
    [role="navigation"] > ul{
        margin-right:10%;
    }
    header .logo{
        margin-left: 8%;
    }
    header .search input{
        margin-left:10%;
    }
    .icon-search{
        margin-right:10%;
    }
    #homepage > main{
        margin-left: 10%;
        margin-right: 10%;
    }
    aside > ul{
        margin-left: 0;
    }
    footer > nav:nth-child(2) > ul{
        margin-right:10%;
    }

}

/* STATES */
.flex{
    display: flex;
}
.show{
    display: block;
}
.hide{
    display:none;
}
